<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../alta-movs/alta-movs.html">

<dom-module id="visor-movs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Movimientos </h2><h4><button on-click="volvermiscuentas" class="btn btn-primary-outline"> << Ver mis cuentas </button></h4>
    <h4>IBAN - [[IBAN]] <button on-click="_pageChange"class="btn btn-primary-outline"> Alta Movimiento </button></h4>
    <h4>Saldo - [[balance]]</h4>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="alta-movs"><alta-movs on-myeventmovs="procesarActualizarBalance" id="altamovs"></alta-movs> </div>
    </iron-pages>

    <template is="dom-repeat" items="{{movs}}">
    <h5> [[item.tipo]]- cantidad: [[item.cantidad]]- fecha: [[item.fecha]]</h5>

    <br>
    </template>
   <iron-ajax
      id="getMovs"
      url="http://localhost:3000/azurcebre/v2/cuenta/{{IBAN}}/movimientos"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovs extends Polymer.Element {
      static get is() { return 'visor-movs'; }
      static get properties() {
        return {
          IBAN: {
            type: String
        },  tipo:{
            type: String
        },  cantidad: {
            type: Number
        },  fecha: {
            type: String
        },  movs: {
            type: Array
        }, componentName:{
            type: String
        }, activated: {
            type: Boolean,
            observer: '_activatedChanged'
        }
        };
      }
    showData(data){
      console.log('showData');
      console.log('data.detail.response');
      this.movs = data.detail.response;
      console.log('componentName:'+this.componentName);
    }
    _activatedChanged(newvalue,oldvalue){
      if(newvalue==true){
        console.log('se ha activado el visormovs');
        console.log('IBAN:'+this.IBAN);
        this.$.getMovs.body = JSON.stringify(this.IBAN);
        this.$.getMovs.generateRequest();
        this.activated = false;
      }
    }
    _pageChange(e){
      console.log('ha pulsado el botón');
      this.componentName ="alta-movs";
      this.$.altamovs.iban=this.IBAN;
    }
    procesarActualizarBalance(e){
      console.log('procesando actualizarbalance');
      console.log(e.detail.iban);
      this.iban=e.detail.iban;
      this.balance=e.detail.balance;
      this.componentName=e.detail.componentName;
      this.activated=true;
    }
    volvermiscuentas(e){
      console.log('se ha pulsado vermiscuentas desde visor-movs');
      this.dispatchEvent(
        new CustomEvent(
          "myevent", {
            "detail" : {
              "componentName": "visor-cuentas"
            }
          }
        )
      );
    }
    
  }
    window.customElements.define(VisorMovs.is, VisorMovs);
  </script>
</dom-module>
