<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />


<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <h2>Sus cuentas </h2><h4><button on-click="volvervisorusuario" class="btn btn-primary-outline"> << Mis datos </button></h4>
   <template is="dom-repeat" items="{{accounts}}">

     <h4>IBAN - {{item.IBAN}} <button on-click="_vermovs" class="btn btn-primary-outline">movimientos </button> </h4>
     <h4>Saldo - {{item.balance}}</h4>
  </br>
   </template>

   <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/azurcebre/usuarios/{{userid}}/cuentas"
     handle-as="json"
     on-response="showData">
 </template>

 <script>

   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         userid : {
           type: Number
         }, iban: {
           type: String
         }, accounts: {
           type: Array
         }, balance: {
           type: Number
         }, activated: {
           type: Boolean,
           observer: '_activatedChanged'
         }
       };
     }
     showData(data) {
       console.log(data.detail.response);
       this.accounts = data.detail.response;
     }

     _vermovs(e) {
         console.log('ha pulsado el botón vermovs');
         console.log(e);
         this.dispatchEvent(
           new CustomEvent(
             "myevent", {
               "detail" : {
                 "iban": e.model.item.IBAN,
                 "balance": e.model.item.balance,
                 "componentName": "visor-movs"
               }
             }
           )
         );
       }
      _activatedChanged(newvalue,oldvalue){
        if(newvalue==true){
          console.log('se ha activado el visorcuentas');
          console.log('usuario:'+this.userid);
          this.$.getAccounts.body = JSON.stringify(this.userid);
          this.$.getAccounts.generateRequest();
        }
      }
      volvervisorusuario(e){
        console.log('ha pulsado el botón volvervisorusuario');
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myeventvolver", {
              "detail" : {
                "componentName": "visor-usuario"
              }
            }
          )
        );
      }
   }
   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
