
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h3 hidden$="{{logged}}">Hasta pronto , [[first_name]] [[last_name]]</h3>
    <h4><button class="btn btn-primary-outline"><a href="/">Inicio</a></button></h4>

<!--
    <iron-ajax auto
    quitamos el auto
  -->
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/azurcebre/logout/{{id}}"
      method="POST"
      handle-as="json"
      on-response="showData"
      on-error="ShowError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          },logged: {
            type: Boolean,
            observer: 'loggedChanged'
          }
        };
      }
      connectedCallback() {
       super.connectedCallback();

       console.log("leer ident");
       var ident = sessionStorage.ident;
       console.log(ident);

       console.log('usuario:'+ ident);
       this.id = ident;
       this.logged = true;
     }

      showData(data) {
        console.log(data.detail.response);
        this.logged = false;
        sessionStorage.removeItem("ident");
        ///   añadido
        sessionStorage.setItem("logado", "false");

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        console.log("2º cambio menu");

        document.getElementById("mitoold2").style.display="initial";
        document.getElementById("mitoold1").setAttribute("href", "/login");
        document.getElementById("mitoold1").innerText = " - Login";
      }

      ShowError(error){
          console.log("Hubo un error");
          if (error.detail.request.__data.status == 404){
              console.log(error.detail.request.__data.response.msg)
          }else{
              console.log(error);
          }
      }
      loggedChanged(newvalue,oldvalue){
        if(newvalue==true){
          console.log('se ha activado el logout');
          console.log('usuario:'+this.id);
          this.$.doLogout.body = JSON.stringify(this.id);
          this.$.doLogout.generateRequest();
        }
      }
      Inicio(e){
        window.location="/";
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
