
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="signup-usuario">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!---   elimino el formulario
    <form on-submit="signup">
    -->
          Nombre : <br>
          <input value="{{first_name::input}}" required/><br>
          Apellidos : <br>
          <input value="{{last_name::input}}" size="40" required/><br>
          e-mail : <br>
          <input type="email" value="{{email::input}}" required/><br>
          Password : <br>
          <input type="password" value="{{password::input}}" required/><br>
          Teléfono : <br>
          <input pattern="[0-9]{9,9}" title="### ### ###" value="{{phone::input}}" required/><br>
          <br>
          <!--
          <input type="submit" value="Sign Up"/>
        -->
          <button on-click="signup">SignUp</button>

    </form>

    <iron-ajax
      id="doSignup"
      url="http://localhost:3000/azurcebre/usuarios"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="ShowError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SingupUsuario extends Polymer.Element {
      static get is() { return 'signup-usuario'; }
      static get properties() {
        return {first_name: {
                type: String
              },last_name: {
                type: String
              },email: {
                type: String
              },password: {
                type: String
              },phone: {
                type: String
              }
            };
        }

      manageAJAXResponse (data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);
/***
        window.location = "user/" + data.detail.response.idUsuario;
**/
        window.location = "/"

      }

      ShowError(error){
          console.log("Hubo un error");
          console.log(error);
      }

      signup(){
        console.log("El usuario ha pulsado el botón");

        var signupData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "password" : this.password,
          "phone" : this.phone
        };
        this.$.doSignup.body = JSON.stringify(signupData);
        this.$.doSignup.generateRequest();
        console.log("Petición enviada");
      }
    }

    window.customElements.define(SingupUsuario.is, SingupUsuario);
  </script>
</dom-module>
