
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>mi teléfono es [[phone]]</h3>
    <h3>y mi email es [[email]]</h3>
  <!-- <button class="btn btn-link">
   <a href="{{id}}/accounts">Ver mis cuentas</a>
 </button>-->

<h4><button on-click="_vermiscuentas"class="btn btn-primary-outline"> Ver mis cuentas </button></h4>

<!--    quito el auto   -->
 <iron-ajax
   id="getUser"
   url="http://localhost:3000/azurcebre/usuarios/{{id}}"
   handle-as="json"
   on-response="showData"
>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, phone: {
            type: String
          }, id :{
            type: Number
          }, componentName:{
            type: String
          }, activated: {
            type: Boolean,
            observer: '_activatedChanged'
          }
        };
      }

      connectedCallback() {
       super.connectedCallback();

       console.log("load UserIdent");
       var ident = sessionStorage.ident;
       console.log(ident);

       console.log('usuario:'+ ident);
       this.id = ident;
       this.activated= true;
     }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.id= data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.phone = data.detail.response.phone;
        this.activated= false;
      }
      _vermiscuentas(e){
        console.log('ha pulsado el botón vermiscuentas');
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myevent", {
              "detail" : {
                "id": this.id,
                "componentName": "visor-cuentas"
              }
            }
          )
        );
      }

    _activatedChanged(newvalue,oldvalue){
      if(newvalue==true){
        console.log('se ha activado el visor usuario');
        console.log('usuario:'+this.id);
        this.$.getUser.body = JSON.stringify(this.id);
        this.$.getUser.generateRequest();
      }
    }
  }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
