<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="azurcebrefront-app">
  <template>
    <style>
      :host {
        display: block;
      }
      p {
        color: blue;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <span align="center">
      <div class="jumbotron">
        <h1>AZURCEBRE</h1>
        <h2>El Banco de los Techuniversitarios</h2><br>
      </div>
      <p>Disfrutamos de un tiempo <mark>[[tiempo]]</mark> y de una temperatura de <mark>[[temperatura]]ºC</mark></p>

      <br>
      <h4>Si desea acceder a sus Datos y operar con sus Cuentas pulse
        <button class="btn btn-primary-outline"><a href="/login">Login</a></button></h4>
      <h4>Si todavía no es Cliente y se quiere dar de alta en nuestro banco, pulse
          <button class="btn btn-primary-outline"><a href="/signup">SingUp</a></button></h4>
      <h4>y tras rellenar un formulario le daremos la bienvenida con 1 € en su nueva cuenta.</h4>
    </span>

    <iron-ajax auto
      id="getWeather"
      url="http://dataservice.accuweather.com/currentconditions/v1/308526?apikey=u3HFnSnWxgfIJ8FmKZoN7saaK13618Q6&language=es-ES"
      handle-as="json"
      on-response="showData"
   >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AzurcebrefrontApp extends Polymer.Element {
      static get is() { return 'azurcebrefront-app'; }
      static get properties() {
        return {
          tiempo: {
            type: String
          },temperatura: {
            type: String
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.tiempo = data.detail.response[0].WeatherText;
        this.temperatura = data.detail.response[0].Temperature.Metric.Value;
      }

    }

    window.customElements.define(AzurcebrefrontApp.is, AzurcebrefrontApp);
  </script>
</dom-module>
