
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <h2> Receptor Evento </h2>
    <h3> Este curso es [[curso]] </h3>
    <h3> Estamos en el año [[year]] </h3>
    <h3> url [[url]] </h3>

    <input type="text" value="{{curso::input}}"></input>
    
  </template>

  <script>

    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          curso : {
            type: String,
            observer: '_courseChanged'
          }, year : {
            type: Number
          }, url: {
            type: String,
            observer: '_pageChanged'
          }
        };
      }


      _courseChanged(newvalue,oldvalue) {
        console.log('Ha cambiado el valor del curso');
        console.log('valor antiguo:'+ oldvalue);
        console.log('nuevo valor'+ newvalue);
        window.location = "user/31";
      }
      _pageChanged(newvalue,oldvalue) {
        console.log('Ha cambiado el valor de la url');
        console.log('valor antiguo:'+ oldvalue);
        console.log('nuevo valor'+ newvalue);
        window.location = newvalue;
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
