
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movs/visor-movs.html">


<dom-module id="visor-paginas">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>

<!--    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <div component-name="visor-usuario"><visor-usuario on-myevent="procesarVermiscuentas" id="visorusuario"></visor-usuario> </div>
      <div component-name="visor-cuentas"><visor-cuentas on-myevent="procesarVermovs" id="visorcuentas"></visor-cuentas> </div>
      <div component-name="visor-movs"><visor-movs id="visormovs"></visor-movs> </div>
    </iron-pages> -->

    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
          <div component-name="visor-usuario"><visor-usuario on-myevent="procesarVermiscuentas" id="visorusuario"></visor-usuario> </div>
          <div component-name="visor-cuentas"><visor-cuentas on-myevent="procesarVermovs" on-myeventvolver="procesarvolvervisorusuario" id="visorcuentas"></visor-cuentas> </div>
          <div component-name="visor-movs"><visor-movs id="visormovs"on-myevent="volvermiscuentas"></visor-movs> </div>

        </iron-pages>

  </template>

  <script>

    class VisorPaginas extends Polymer.Element {
      static get is() { return 'visor-paginas'; }
      static get properties() {
        return {
          componentName:{
              type: String,
              value: "visor-usuario"
            }
        };
      }
      procesarVermiscuentas(e){
        console.log('capturado evento de visualizar cuentas');
        console.log(e.detail);
        this.$.visorcuentas.userid=e.detail.id;
        this.componentName = e.detail.componentName;
        this.$.visorcuentas.activated= true;
        this.$.visorusuario.activated= false;
      }
      procesarVermovs(e){
        console.log('capturado evento de visualizar movimientos');
        console.log(e.detail);
        this.$.visormovs.IBAN=e.detail.iban;
        this.$.visormovs.balance=e.detail.balance;
        this.componentName="visor-movs";
        this.$.visorcuentas.activated= false;
        this.$.visormovs.activated= true;
      }
      volvermiscuentas(e){
        console.log('capturado volver a ver miscuentas desde visor-movs');
        this.componentName= e.detail.componentName;
        this.$.visorcuentas.activated=true;
        this.$.visormovs.activated=false;
        this.$.visorusuario.activated=false;
      }
      procesarvolvervisorusuario(e){
        console.log('capturando volver a ver mis datos desde visor cuentas');
        this.componentName= e.detail.componentName;
        this.$.visorcuentas.activated=false;
        this.$.visormovs.activated=false;
        this.$.visorusuario.activated=true;
      }

    }

    window.customElements.define(VisorPaginas.is, VisorPaginas);

  </script>
</dom-module>
