
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <input placeholder ="email" value="{{email::input}}"></input>
    <input type = "password" placeholder ="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/azurcebre/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="ShowError"
   >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },password: {
            type: String
          }
        };
      }
      manageAJAXResponse (data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        console.log("store UserIdent");
        var ident=data.detail.response.idUsuario;
        sessionStorage.setItem("ident", ident);

        sessionStorage.setItem("logado", "true");

        window.location = "user";
      }

      ShowError(error){
          console.log("Hubo un error");
          if (error.detail.request.__data.status == 404){
              console.log(error.detail.request.__data.response.msg)
          }else{
              console.log(error);
          }
      }

      login (){
        console.log("El usuario ha pulsado el botón");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
