<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-movs">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <h4>Alta de Movimientos</h4>

  <h5><input pattern="I|R" placeholder ="I/R" value="{{tipo::input}}" required="true"/>
  <input placeholder ="cantidad" value="{{cantidad::input}}" required="true"/>
  <button on-click="alta"class="btn btn-primary-outline">+</button></h5>



   <iron-ajax
     id="doAltaMovs"
     url="http://localhost:3000/azurcebre/v2/altamovimientos/[[iban]]"
     method="POST"
     content-type="application/json"
     handle-as="json"
     on-response="showData"
     on-error="ShowError">

 </template>

 <script>

   class AltaMovs extends Polymer.Element {
     static get is() { return 'alta-movs'; }
     static get properties() {
       return {
         tipo : {
           type: String
         }, cantidad: {
           type: Number
         }, iban: {
           type: String
         }, fecha: {
           type: String
         }, balance:{
           type: Number
         }
       };
     }
     showData (data){
       console.log("showData");
       console.log(data.detail.response);
       this.iban=data.detail.response.IBAN;
       this.balance=data.detail.response.balance;
       this.tipo="";
       this.cantidad="";
       this.dispatchEvent(
         new CustomEvent(
           "myeventmovs", {
             "detail" : {
               "iban": this.iban,
               "balance": this.balance,
               "componentName": ""
             }
           }
         )
       );
     }
     ShowError(error){
         console.log("Hubo un error");
         if (error.detail.request.__data.status == 404){
             console.log(error.detail.request.__data.response.msg)
         }else{
             console.log(error);
         }
     }
     alta(e){
       var AltaMovsData = {
         "tipo" : this.tipo,
         "cantidad" : this.cantidad
       };
        console.log('iban:'+this.iban); //el valor de la propiedad iban se lo hemos pasado por evento
        this.$.doAltaMovs.body = JSON.stringify(AltaMovsData);
        this.$.doAltaMovs.generateRequest();
        console.log("Petición enviada");

      }
     }
   window.customElements.define(AltaMovs.is, AltaMovs);
 </script>
</dom-module>
