
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movs/visor-movs.html">
<link rel="import" href="../alta-movs/alta-movs.html">
<link rel="import" href="../page-not-found/page-not-found.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>

    <div class="jumbotron">
      <h2> TEST IRON PAGES </h2>
    </div>
  <h2> <button on-click="_pageChange"> movimientos</button> </h2>
   <input type="text" value="{{componentName::input}}"></input>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login-usuario"><login-usuario></login-usuario> </div>
      <div component-name="visor-usuario"><visor-usuario></visor-usuario> </div>
      <div component-name="visor-cuentas"><visor-cuentas></visor-cuentas> </div>
      <div component-name="visor-movs"><visor-movs></visor-movs> </div>
      <div component-name="alta-movs"><alta-movs></alta-movs> </div>
      <div component-name="page-not-found"><page-not-found></page-not-found> </div>
    </iron-pages>
  </template>

  <script>

    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
              };
      }
      _pageChange(e){
        console.log('se ha pulsado el boton');
        this.componentName="visor-movs";
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
